@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 207 18% 8%;
    --card: 0 0% 100%;
    --card-foreground: 207 18% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 207 18% 8%;
    --primary: 204 89% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 195 16% 95%;
    --secondary-foreground: 207 18% 8%;
    --muted: 195 16% 95%;
    --muted-foreground: 200 12% 38%;
    --accent: 204 89% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 357 91% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 160 100% 36%;
    --success-foreground: 0 0% 100%;
    --border: 195 16% 95%;
    --input: 195 16% 95%;
    --ring: 204 89% 53%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark:root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 214 17% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 214 17% 10%;
    --popover-foreground: 0 0% 100%;
    --primary: 204 89% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 17% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 17% 10%;
    --muted-foreground: 210 6% 46%;
    --accent: 204 89% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 357 91% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 160 100% 36%;
    --success-foreground: 0 0% 100%;
    --border: 210 7% 20%;
    --input: 210 7% 20%;
    --ring: 204 89% 53%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
